@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Predefined values from the assignment set as CSS variables */
* {
  margin: 0;

  font-family: Roboto, serif;

  --dark-background-color: #1f2937;

  --logo-font-size: 24px;
  --logo-text-color: #f9faf8;

  --hero-main-text-font-size: 48px;
  --hero-main-text-color: #f9faf8;
  --hero-main-text-weight: 900;

  --hero-second-text-font-size: 36px;
  --hero-second-text-color: #e5e7eb;

  --button-background-color: #3882f6;

  --information-heading-font-size: 36px;
  --information-heading-color: #1f2937;
  --information-heading-weight: 900;

  --quote-background-color: #e5e7eb;
  --quote-font-size: 36px;
  --quote-color: #1f2937;
  --quote-weight: 300;
  --quote-font-style: italic;
}

body {
  display: flex;
  flex-direction: column;
}

.hero-section,
.information-panels,
.quote,
.action-banner,
footer {
  padding: 0% 15%;
}

.hero-section {
  background-color: var(--dark-background-color);
  padding-top: 2%;
}

li.logo {
  margin-right: auto;
  font-size: var(--logo-font-size);
  color: var(--logo-text-color);
}

header ul {
  color: var(--hero-second-text-color);
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 16px;
  padding: 0;
  align-items: center;
}

.information-panels {
}

.quote {
}

.action-banner {
}

footer {
}
